.footer {
  width: 100%;
  &__newsletter {
    background-color: $smoky-black;
    padding: 1rem 1.5rem;
    display: inline-block;
    width: 70%;
  }
  &__title {
    color: $white;
    font-family: $old-standard;
    font-size: $x-large;
    margin-bottom: 0.3rem;
  }
  &__button {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1.8rem;
    button {
      font-family: $old-standard;
      font-weight: $old-standard-bold;
      writing-mode: vertical-lr;
      background-color: $white;
      border: none;
      padding: 0.5rem;
      cursor: pointer;
    }
  }
}

@media (min-width: $breakpoint-tablet-md) {
  .footer {
    position: absolute;
    bottom: 0;
    &__newsletter {
      width: 80%;
      padding-left: 4rem;
    }
    &__button {
      width: 5%;
      button {
        padding: 0.8rem;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop-xl) {
  .footer {
    width: 40%;
    position: absolute;
    bottom: -9%;
    &__newsletter {
      width: 77%;
    }
    &__button {
      button {
        padding: 1.5rem;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop-xxl) {
  .footer {
    position: absolute;
    bottom: -9%;
  }
}
