.footer {
  width: 100%;
  &__newsletter {
    background-color: $smoky-black;
    padding: 1rem 1.5rem;
    display: inline-block;
    width: 70%;
  }
  &__title {
    color: $white;
    font-family: $old-standard;
    font-size: $x-large;
    margin-bottom: 0.3rem;
  }
  &__button {
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1.8rem;
    button {
      font-family: $old-standard;
      font-weight: $old-standard-bold;
      writing-mode: vertical-lr;
      background-color: $white;
      border: none;
      padding: 0.5rem;
    }
  }
}
