.main {
  width: 100%;
  margin-top: 4rem;
  &__img {
    width: 100%;
    height: auto;
  }
  &__container-text {
    padding: 1rem 1.5rem;
  }
  &__title {
    font-size: $xxx-large;
    font-weight: $old-standard-bold;
    margin: 0;
    color: $smoky-black;
  }
  &__text {
    font-size: $medium;
    font-family: $raleway;
    font-weight: $raleway-regular;
    line-height: 1.7rem;
    color: $granite-gray;
  }
}

@media (min-width: $breakpoint-tablet-md) {
  .main {
    padding-bottom: 3rem;
    &__img {
      height: 40vh;
      object-fit: cover;
    }
    &__container-text {
      padding: 1rem 4rem;
    }
    &__title {
      width: 70%;
    }
    &__text {
      width: 70%;
    }
  }
}
