.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $white;
  &__logo {
    width: 15%;
    background-color: $smoky-black;
    text-align: center;
    display: inline-block;
    padding: 0.7rem;
  }
  &__text {
    color: $white;
    font-size: $large;
    font-family: $old-standard;
  }
  &__list {
    display: none;
  }
  &__burger {
    display: inline-block;
    position: relative;
    float: right;
    width: 10%;
    padding-right: 1rem;
    padding-top: 7%;
  }
  &__line {
    width: 70%;
    border: 2px solid $smoky-black;
    margin: 0.2rem 0;
    border-radius: 5px;
  }
}

@media (min-width: $breakpoint-tablet-md) {
  .nav {
    &__list {
      display: inline-block;
      float: right;
      padding-top: 1rem;
    }
    &__item {
      display: inline-block;
      padding-right: 3rem;
      font-family: $raleway;
      font-weight: $raleway-bold;
      a {
        text-decoration: none;
        color: $smoky-black;
      }
    }
    &__burger {
      display: none;
    }
  }
}

@media (min-width: $breakpoint-desktop-xl) {
  .nav {
    &__logo {
      width: 5%;
    }
  }
}
